body{
  background-color: #0b0a0a;
  background-image: url("updatedVideoGif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}

.container{
  overflow: hidden;
}

#ticker{
  background-size: auto auto;
  background-clip: border-box;
  background-size: auto;
  color: #000000;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
}

.class {
  animation: spinner 4s linear infinite;
}

.title{
  text-align: center;
}

.container {
  max-width: 50%;
  margin: 50px auto;
  background-color: #ffffff9a;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  
}

.paragraph{
  text-align: center;
}

.button{
  color: white;
  background-color: #007bfff9;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: #0069D9;
  color: white;
}

.stockText {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  width: 100%;
  transition-duration: 0.2s;
  box-sizing: border-box;
  margin-bottom: 1px;
}

stockText {
  border-color: #007BFF;
  box-shadow: 0 0 5px #007BFF;
  outline: none;
}
