/*.stockText {
  text-transform: uppercase;

}
/*.stockText::placeholder {
  text-transform: capitalize
}
*/
body{
  background-color: #f2f2f2;
  background-image: url("wolf-of-wall-street\ background\ pic.jpg");
}